<div class="wrapper">

  <h1>Pagina de filmes</h1>

  <p><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Email</th>
      </tr>
    </thead>
  </table>

  <tbody>
    <% @filmes.each do |filme| %>
      <tr>
        <td><%= filme.nome %></td>
        <td><%= filme.ano %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
      </tr>
    <% end  %>
  </tbody>

</div>

<%= link_to 'Novo', new_filme_path %>


