<div class="wrapper">
  <h1>Categorias</h1>

  <p><%= notice %></p>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>

    <tbody>
      <% @generos.each do |genero| %>
        <tr>
          <td><%= genero.nome %></td>
          <td><%= link_to 'Editar' , edit_genero_path(genero) %></td>
          <td><%= link_to 'Excluir', genero, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>

<%= link_to 'Novo', new_genero_path %>