<h2><%= notice %></h2>

<p>
  <strong>Name:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>CPF</strong>
  <%= @usuario.cpf %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) %>
<%= link_to 'Voltar', usuarios_path %>